ZInjector/ZInjector/Debug/
ZInjector/ZInjector/Release/
ZInjector/ZInjector/.vs/
ZInjector/.vs/
ZInjector/Debug/
ZInjector/Release/

ZLoader/ZLoader/Debug/
ZLoader/ZLoader/Release/
ZLoader/ZLoader/.vs/
ZLoader/Release/
ZLoader/Debug/
ZLoader/.vs/

TemplateMod/.vs/
TemplateMod/Debug/
TemplateMod/Release/
TemplateMod/TemplateMod/Debug/
TemplateMod/TemplateMod/Release/
TemplateMod/TemplateMod/.vs/