ZInjector/ZInjector/Debug/
ZInjector/ZInjector/Release/
ZInjector/ZInjector/x64/
ZInjector/x64/
ZInjector/ZInjector/.vs/
ZInjector/.vs/
ZInjector/Debug/
ZInjector/Release/

ZLoader/ZLoader/Debug/
ZLoader/ZLoader/Release/
ZLoader/ZLoader/.vs/
ZLoader/ZLoader/x64/Release/
ZLoader/x64/
ZLoader/Release/
ZLoader/Debug/
ZLoader/.vs/

TemplateMod/.vs/
TemplateMod/Debug/
TemplateMod/Release/
TemplateMod/TemplateMod/Debug/
TemplateMod/TemplateMod/Release/
TemplateMod/TemplateMod/.vs/